button {
  border-radius: 10px;
  padding: 8px, 20px;
  cursor: pointer;
  background-color: white;
  margin-top: 10px;
  height: 30px;
  width: 120px;
  border: none;
  border-radius: 10px;
  color: white;
}

.button_red {
  border: 1px solid red;
  color: red;
}

.button_red:hover {
  border: 1px solid rgba(210, 25, 25, 0.05);
}

.button_orange {
  border: 1px solid rgba(214, 139, 85, 0.5);
  color: #ad6007;
}

.button_orange:hover {
  border: 1px solid rgba(210, 102, 25, 0.05);
}

.button_blue {
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;
}

.button_blue:hover {
  border: 1px solid rgba(25, 118, 210, 0.05);
}
